.box{
    width: 450px;
    height: 501px;
    background: skyblue;
    padding: 60px;
    text-align: center;
    margin-top: 90px;
    margin-left: 670px;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}